.hero-container {
  padding: 2.5rem 0; /* Equivalent to py-10 (10px on smaller screens, 20px on larger screens) */
  background: linear-gradient(to right, #eeeeee, #333333); /* Gradient from gray-00 to gray-950 */
  padding-bottom: 10rem;
  animation: fadeIn 1.5s ease-in-out;
}

.hero-content {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  animation: slideIn 1.5s ease-in-out;
}

.hero-heading {
  font-size: 3rem; /* Equivalent to text-2xl */
  font-weight: bold;
  background: linear-gradient(to right, #666666, #000000); /* Gradient from gray-600 to black */
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 5rem;
  margin-bottom: 1.5rem;
  animation: textGlow 3s infinite alternate;
}

.hero-description {
  font-size: 1.25rem; /* Equivalent to md:text-xl */
  background: linear-gradient(to right, #000000, #666666); /* Gradient from black to gray-600 */
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
  font-weight: bolder;
  animation: fadeInUp 1.5s ease-in-out;
}

.hero-button-container {
  display: flex;
  justify-content: center;
}

.hero-button {
  background: linear-gradient(to right, #333333, #000000); /* Gradient from gray-800 to black */
  color: white;
  padding: 1rem 2rem;
  width: 200px;
  border-radius: 0.5rem;
  font-size: 1.125rem; /* Equivalent to text-lg */
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-button:hover {
  background: linear-gradient(to bottom right, #555555, #111111);
  transform: scale(1.1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.hero-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(169, 169, 169, 0.5);
}

.hero-image-container {
  margin-top: 1rem;
  padding-top: 5rem; /* Equivalent to md:pt-10 */
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 0.75rem; /* Equivalent to rounded-xl */
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.hero-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


